:root {
    --black: #131921;
    --amazon-orange: #f0c14b;

    --border-color-one: #a88734;
    --border-color-two: #9c7e31;
    --border-color-three: #846a29;
}
/************************************** START: CHECKOUT.JS ***************************************/
.checkout-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: max-content;
}

.checkout-grid-container {
    margin-top: 15px;
}

.checkout-left-container {
    background-color: white;
    border-radius: 4px;
    padding: 10px;

    min-width: 550px !important;
}

.checkout-page.ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout-title {
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
}
/************************************** END: CHECKOUT.JS *****************************************/
/************************************** START: CHECKOUTPRODUCT.JS ********************************/
.checkout-product-container {
    display: flex;
    border-bottom: 1px solid lightgray;

    margin: 20px 0 20px 0;
}

.checkout-product-img {
    object-fit: contain;
    width: 180px;
    height: 180px;

    padding: 5px 0 5px 0;
}

.checkout-product-info-container {
    padding-left: 20px;
}

.checkout-product-title {
    font-size: 17px;
    font-weight: 800;
}

.quantity-and-remove-container {
    display: flex;
}

.quantity-value {
    padding-right: 10px;
    border-right: 2px solid grey;
}

.remove-all-items-link {
    text-decoration: none;
    padding: 0 10px 0 10px;
    border-right: 2px solid grey;
}

.remove-item-link,
.remove-one-item-link {
    text-decoration: none;
    padding-left: 10px;    
}
/************************************** END: CHECKOUTPRODUCT.JS **********************************/
/************************************** START: NAVBAR.JS *****************************************/
.amazon-logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0 20px;
}

.cart-counter {
    margin: 0 10px 0 10px;
}

.nav-bar.container {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--black);
    position: sticky;
    z-index: 100;

    top: 0;
}

.nav-bar-options {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.nav-bar-options_cart {
    color: white;
    
    display: flex;
    margin-top: 5px;
}

.nav-bar-options_container {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-options_container > a {
    text-decoration: none;
}

.nav-bar-options_line-one {
    font-size: 10px;
}

.nav-bar-options_line-two {
    font-size: 13px;
    font-weight: 800;
}

.search-bar {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.product-categories {
    border: none;
    width: 80%;
    min-width: 200px;
}

.search-bar.container {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

.search-icon {
    padding: 7px;
    height: 22px !important;
    background-color: var(--amazon-orange);
    border-radius: 4px;
}
/************************************** END: NAVBAR.JS *******************************************/
/************************************** START: HOME.JS *******************************************/
.home-container {
    width: 100%;
}

.bkgd-container {
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) );
}

.home-bkgd-img {
    max-width: 100%;
}

.home-rows {
    display: flex;
    justify-content: center;
    margin: 0 5px 0 5px;
    z-index: 1;
}
/************************************** END: HOME.JS *********************************************/
/************************************** START: PRODUCT.JS ****************************************/
.product-container {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.product-btn {
    background-color: var(--amazon-orange);
    border: 1px solid;
    margin-top: 10px;
    border-color: var(--border-color-one) var(--border-color-two) var(--border-color-three);
    color: #111;
}

.product-img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;

    margin: 30px 0 15px 0;
}

.product-img-and-btn-container {
    align-items: center;
    text-align: center;
}

.product-info-container {
    height: 100px;
    margin-bottom: 15px;
    
    text-align: left;
}

.product-price {
    margin-top: 5px;
}

.star-icon {
    color: gold;
}
/************************************** END: PRODUCT.JS ******************************************/
/************************************** START: SUBTOTAL.JS ***************************************/
.subtotal-btn {
    background: var(--amazon-orange);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    border-color: var(--border-color-one) var(--border-color-two) var(--border-color-three);
    color: #111;

    margin-top: 10px;
}

.subtotal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    padding: 20px;
    background-color: white;
    border: 1px solit #dddddd;
    border-radius: 4px;

    margin: 0 20% 0 20%;
}

.subtotal-gift {
    display: flex;
    align-items: center;
}

.subtotal-gift > input {
    margin-right: 5px;
}
/************************************** END: SUBTOTAL.JS *****************************************/



/* MOBILE MODE FOR ALL FILES: */
@media screen and (max-width: 700px) {
    /* START: SUBTOTAL.JS */
    .subtotal-container {
        width: 90%;
        height: 120px;

        margin: 0 10% 0 10%;
    }
    /* END: SUBTOTAL.JS */
}

@media screen and (max-width: 500px) {
    /* START: SUBTOTAL.JS */
    .subtotal-container {
        height: 140px;

        margin: 0 5% 0 5%;
    }
    /* END: SUBTOTAL.JS */
}
